.nav-bar{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

.nav-bar .container{
    display: flex;
    justify-content: space-between;
    
}
.nav-bar .container .logo{
    font-family:monospace;
    letter-spacing: -2.5px;
    padding: 17px;
    
    
    
        
} 
.nav-bar .container .logo a{
    font-weight: 900;
    color: brown;
    font-size: 30px;
    text-decoration: none;
    
    
    
    
}
.nav-bar .container .logo a:hover{
    color: red;
}
.nav-bar .container .links ul{
    display: flex;
    justify-content: space-around;
    width:500px;
        text-decoration:none;
   

}
.nav-bar .container .links ul li{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 20px;
     transition: .5s all;
        list-style: none;
    
}
.nav-bar .container .links ul li:hover{
    background-color:darkslategrey; 
}
.nav-bar .container .links ul li:hover a{
    color: gray;
}
.nav-bar .container .links ul li a{
    text-decoration: none;
    color: red;
    transition: .5s all;
    font-family:monospace;
    letter-spacing: 1.5px;
    font-size: 17px;
    
}
.nav-bar .container .links ul li a:hover{
    color: gray;
    font-weight: 800;
    
}
.text-center{
    text-align: center;
}

.lead{
    
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    font-family: monospace
}
.container {
    width: 1170px;
    margin: auto;
}
/*small*/
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/*medium*/
@media (min-width:992px) {
     .container{
        width: 970px;
    }
}
/*large*/
@media (min-width:1200px) {
     .container{
        width: 1170px;
    }
}
/*extra small*/
@media (max-width:768px){
    .container{
        width: 80%;
    }
    .nav-bar .container .links ul{
           width: 70%;
        font-size: 15px;
    }
    .nav-bar .container .links ul li{
        width: 13%;
        
    }
      
}
.header{
        font-family: cursive;
}
.good-person{
    padding-top: 20px;
display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.person .image img{
    max-width: 100%;
}
.person .bad-person{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    padding-top: 20px
}
.person .container h1{
    color: red;
    font-size: 30px
}
.footer {
    background: #333;
    color: #AAA;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
/*START TEST*/
.test{
 padding-bottom: 20px;
    padding-top: 20px;
    background: #eee;
    margin-top: 40px;
    
}
.test .container{
    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    
    
}
.test .container .images img{
    max-width: 100%;
    margin-bottom: 10px
    
}
.test .container .text-box input{
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    min-width: 80%;
    border: 2px solid red;
    border-radius: 20px;
    text-align: center;
}
.test .container .text-box button{
    padding: 10px;
    display: block;
    margin: 10px auto;
    background-color: blue;
    font-family: cursive;
    font-size: 20px;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
}
/*END TEST*/